[Unit]
Description=Rathole Service for %I
Documentation=https://github.com/rathole-org/rathole
After=network.target nss-lookup.target

[Service]
Type=simple
Environment="RUST_LOG=warning"
ExecStart=/root/rathole/rathole /root/rathole/%i.toml
WorkingDirectory=/root/rathole
Restart=on-failure
RestartSec=3s

LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
