[Unit]
Description=Xray Service
Documentation=https://github.com/XTLS/Xray-core
After=network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/root/xray/xray run --config /root/xray/config.json
WorkingDirectory=/root/xray
Restart=on-failure
RestartSec=3

LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
